* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

.sidebar {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.input-box {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
}

/* .submit {
    float: right;
} */
