body {
  width: 1100px;
  margin: 0 auto;
}

nav {
  /* float: inline; */
  text-align: center;
  background-color: rgb(201, 198, 198);
  margin-bottom: 30px;
}

li {
  list-style: none;
  border-bottom: 1px solid black;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

a {
  color: #444;
  text-decoration: none;
}

h3 {
  color: #222;
  border-bottom: 1px solid black;
}
