* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  text-align: center;
  width: 400px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.text-type,
.submit {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #aeacac;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.submit {
  background-color: rgb(116, 116, 248);
  cursor: pointer;
}
