* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin: 20px;
  padding: 20px;
  background-color: rgb(86, 130, 243);
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.login-btn{
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}